alabaster 
anyio 
appdirs==1.4.4
argh==0.26.2
argon2-cffi 
arrow 
asn1crypto 
astropy 
async-generator 
atomicwrites==1.4.0
attrs 
autopep8 
Babel 
backcall 
backports.functools-lru-cache 
backports.shutil-get-terminal-size 
backports.tempfile 
backports.weakref==1.0.post1
comtypes==1.1.10
contextlib2 
cookiecutter 
cryptography 
cycler==0.10.0
Cython 
cytoolz==0.11.0
dask==2021.10.0
debugpy 
decorator 
defusedxml 
diff-match-patch 
distributed 
django
dj-database-url==0.5.0
docutils 
entrypoints==0.3
et-xmlfile==1.1.0
fastcache 
filelock 
flake8 
Flask 
fonttools==4.25.0
fsspec 
future 
gevent 
glob2 
greenlet 
gunicorn==20.1.0
h5py
html5lib
idna 
imagecodecs 
imageio 
imagesize 
importlib-metadata 
inflection==0.5.1
iniconfig 
intervaltree 
ipykernel 
ipython 
ipython-genutils 
ipywidgets 
isort 
itsdangerous 
jdcal 
jedi 
Jinja2 
jinja2-time 
joblib 
json5 
jsonschema 
keyring 
kiwisolver 
lazy-object-proxy 
libarchive-c 
locket==0.2.1
lxml
multipledispatch 
munkres==1.1.4
mypy-extensions==0.4.3
nbclassic 
nbclient 
nbconvert 
nbformat 
nest-asyncio 
networkx 
nltk==3.6.5
nose 
numba 
numexpr 
numpydoc 
olefile 
openpyxl 
packaging
pandocfilters
paramiko 
parso 
partd 
path 
pathlib2 
pathspec==0.7.0
patsy==0.5.2
pep8==1.7.1
pexpect 
pickleshare 
Pillow==8.4.0
pkginfo==1.7.1
pluggy 
ply==3.11
poyo 
prometheus-client 
prompt-toolkit 
psutil 
ptyprocess 
py 
pycodestyle 
pycosat==0.6.3
pycparser 
pycurl==7.44.1
pydocstyle 
pyerfa 
pyflakes 
Pygments 
PyJWT 
pylint 
pyls-spyder==0.4.0
PyNaCl 
pyOpenSSL 
pyparsing 
pyreadline==2.1
pyrsistent 
PySocks 
pytest==6.2.4
python-dateutil 
python-lsp-black 
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.2.4
python-slugify 
pytz==2021.3
pywin32-ctypes 
pywinpty 
PyYAML==6.0
pyzmq 
QDarkStyle 
qstylizer 
QtAwesome 
qtconsole 
QtPy 
regex 
requests 
rope 
Rtree 
seaborn 
Send2Trash 
simplegeneric==0.8.1
singledispatch 
six 
sniffio 
snowballstemmer
sortedcollections 
sortedcontainers 
soupsieve 
SQLAlchemy 
tables
tblib 
terminado==0.9.4
testpath
text-unidecode
textdistance
threadpoolctl 
three-merge
tifffile 
tinycss 
toml 
toolz 
tornado 
tqdm 
traitlets 
typed-ast 
typing-extensions 
ujson 
unicodecsv==0.14.1
Unidecode 
urllib3==1.26.7
watchdog 
wcwidth 
wsgi
webencodings==0.5.1
Werkzeug 
whichcraft 
whitenoise==6.0.0
widgetsnbextension 
win-inet-pton 
win-unicode-console==0.5
wincertstore==0.2
wrapt 
xlrd 
XlsxWriter 
xlwt==1.3.0
xmltodict 
yapf 
zict==2.0.0
zipp 
zope.event==4.5.0
zope.interface
psycopg2==2.9.3